body {
  background-color: grey;
  background-size: cover;
}
h1
{
  color: black;
  text-align: center;
  font-family: Simplified;
}
p
{
  color: black;
  text-align: center;
  font-family: Simplified;
}
a
{
  text-align: center;
  font-family: Simplified;
}

img.displayed {
    background-image: url(https://media.discordapp.net/attachments/884718653348667412/885874493401231400/sheet_white.png?width=214&height=427);
    display: block;
    margin-left: auto;
    margin-right: auto }

.imageee {
background-image: url(https://media.discordapp.net/attachments/884718653348667412/885874493401231400/sheet_white.png?width=214&height=427);
}
